PORT=3000

STRIPE_SECRET=sk_test_51PiSVl2M72NczdvzELsXgxrNYQNYhJUgMAA1uzMxeLB9QEfzRr5UAsTFhbySkHB2r4ejmOI8N5Z1GIelQE7P0yTr00STSwQ06Q

STRIPE_SUCCESS_URL=http://localhost:3000/payments/success
STRIPE_CANCEL_URL=http://localhost:3000/payments/cancel

STRIPE_ENDPOINT_SECRET=whsec_*********

# https://dashboard.stripe.com/test/webhooks/we_1QJsmd2M72NczdvzUugYb8tG
# Este es el sign in secret del webhook


elate-glad-secure-soothe
C:\Users\ramir\Downloads\stripe_1.21.11_windows_x86_64\stripe.exe